<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>$(AppIdentifierPrefix)com.jphermans.ai-balance-tracker</string>
	<key>com.apple.developer.team-identifier</key>
	<string>$(TeamIdentifier)</string>
	<key>get-task-allow</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>$(AppIdentifierPrefix)com.jphermans.ai-balance-tracker</string>
	</array>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.com.jphermans.ai-balance-tracker</string>
	</array>
</dict>
</plist>
